content/day-1/commands_basics/.terraform
content/day-1/comandos_basicos/.terraform.lock.hcl
content/day-1/commands_basics/bar
content/day-1/comandos_basicos/terraform.tfstate
content/day-1/comandos_basicos/terraform.tfstate.backup